# compiled output
dist
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-store

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous
apps/client/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings


# Etc.
+ .turbo
.env
get-pip.py
python_apps/train_and_classification/saved_model/*
.devcontainer/container.env


*.pyc
python_apps/train_and_classification/data/after_zoom/fake/*
python_apps/train_and_classification/data/after_zoom/real/*
python_apps/train_and_classification/data/before_zoom/fake/*
python_apps/train_and_classification/data/before_zoom/real/*
