.custom-animated-button {
  font-family: "Courier New";
  padding: 0.7em 2em;
  text-align: center;
  transition: 0.5s;
  background-size: 500% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  cursor: pointer;
  width: inherit;
  font-weight: 500;
}

.custom-animated-button:disabled {
  background-image: linear-gradient(15deg, #828282 0%, #666262 50%);
  cursor: not-allowed;
  color: #888888;
}

.custom-animated-button:hover:not([disabled]),
.custom-animated-button:focus:not([disabled]) {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.custom-animated-button:active {
  transform: scale(0.95);
}

.blackBackground {
  background-image: linear-gradient(15deg, #000000 0%, #5e5e5e 51%, #000000 100%);
}

.pinkBackground {
  background-image: linear-gradient(15deg, #e7507f 0%, #ededed00 51%, #e7507f 100%);
}

.redBackground {
  background-image: linear-gradient(25deg, #f70606 0%, #e9e4e4 51%, #f70606 100%);
}
