<app-main-heading>User Login</app-main-heading>

<section class="wrapper">
  <div class="form-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="sendForm()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="this.loginForm.controls.email" autocomplete="email" type="email" required />

        <mat-error *ngIf="loginForm.controls.email.invalid">{{ getError(loginForm.controls.email) }}"</mat-error>
      </mat-form-field>
      <mat-form-field class="last-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          [formControl]="this.loginForm.controls.password"
          autocomplete="current-password"
          [type]="hidePassword ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
        </button>

        <mat-error *ngIf="loginForm.controls.password.invalid">{{ getError(loginForm.controls.password) }}"</mat-error>
      </mat-form-field>

      <app-custom-animated-button [isDisabled]="isButtonDisabled || !loginForm.valid" type="submit">
        {{ "Login" | uppercase }}
      </app-custom-animated-button>
    </form>
  </div>

  <div class="existing-user-card">
    <h2>Don't have an account?</h2>
    <p>You can register right here.</p>
    <app-custom-animated-button (buttonClick)="navigateToRegister()">
      {{ "Register" | uppercase }}
    </app-custom-animated-button>
  </div>
</section>
